{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="content">
<h2>Watchlist</h2>
{% if not listing %}
<p>Your watchlist is empty</p> 
{% endif%}
{% for list in listing %}
<div class="listing">
  <h3><a href="{% url 'listing' list.id %}"> {{ list.title }} </a></h3>
  {% if list.imageLink %}
  <img class="img-thumbnail" src="{{ list.imageLink }}" /><br>
  {% else %}
  <img src="{% static "auctions/Image_not_available.png" %}" /><br>
  {% endif %}
  <p>{{ list.description }}</p>
  <strong><label for="price">Price: </label></strong>
  <span name="price"> {{ list.price.offer_amount}} </span>
  <p>{{ list.created_at }}</p>
  <form action="{% url "removeWatchlist_from_Watchlist"%}" method="POST">
    {% csrf_token %}
    <div id="watchlist">
        <input type="hidden" name="id" value="{{ list.id }}">
        <input name="remove" type="submit" value="remove" class="submit-list"><br>
    </div>
    </form>
</div>
<hr>
</div>
{% endfor %} 
{% endblock %}